<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itheima.sms.mapper.MailListGroupMapper">

    <resultMap type="com.itheima.sms.entity.MailListGroupEntity" id="mailListGroupMap">
        <result property="id" column="id"/>
        <result property="listId" column="list_id"/>
        <result property="groupId" column="group_id"/>
        <result property="createTime" column="create_time"/>
        <result property="createUser" column="create_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>


</mapper>
